/* header {
    height:80vh;
    min-height:800px;
    background-size:cover;
   .container-fluid{
  align-items: center;
}

.hidden-spacer {
    height: 56px
}
.hidden-spacer {
    height: 56px
}
.color-black {
    color: black;
}

.border-gray {
    border: solid 2px gray;
}

.card-header{
    background-color: deeppink;
}
.nav-item {
    color: white;
}
.navbar {
    background: transparent;
}
 */
