  body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-image: url(/img/background.gif);
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: Poppins, sans-serif;
}

#showPassword {
  margin-top: 1rem;
} 

.lock {
  margin-top: 1rem;
} 

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 750px) {
  #background-video { display: none; }
  body {
    background: url("https://i.pinimg.com/564x/20/24/32/2024324973411d8ab593ee8627eeead8.jpg") no-repeat;
    background-size: cover;
  }
}